body {
    margin: 0;
    overflow: hidden;
}

.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);
}

.logo h3 {
    text-align: center;
    font-size: 36px;
    margin-top: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img.animated-gif {
    width: 100%;
    height: 100%;
}
